@import 'variable.scss';

.selectDropdownContainer{

    .downArrow svg{
        width: 2.6em;
        height: 2.6em;
        fill: $primaryColor;
        position: relative;
        left: 92%;
        top: -33px;
        cursor: pointer;
        border-radius: 50%; 
        transition: all .1s ease-out;
        &:hover{
            background-color: $softWhiteColor;
        }
    }
}
