$backgroundColor: #121212;
$backgroundSoftColor: #252525;
$graySoftColor: rgb(150, 150, 150);
$errorColor: #CF6679;
$primaryColor: #BB86FC;
$primaryBlueColor: #3700B3;
$secondaryColor: #03DAC6;
$whiteColor: #FFFFFF;
$softWhiteColor: whitesmoke;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;